body{
    display: flex;
    justify-content: center;
}
.tablero{
    width: 600px;
    height: 600px;
    background-color: rgb(229, 214, 214);
    display: flex;
    flex-wrap: wrap;
}
.cuadro{
    width: 150px;
    height: 150px;
    margin:25px ;
    background-color: rgb(218, 127, 218);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-size: 80px;
}