body{
    background:linear-gradient(45deg,rgb(192, 188, 193),white);
    height: 100vw;
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    margin-top: 150px;
    background-color: rgba(137, 43, 226, 0.534);
    padding: 15px;
    border-radius: 0px 10px;
    box-shadow: 5px 5px 8px black;
}
h3{
    text-align: center;
}
.titulo{
    background-color: rgb(200, 200, 248);
    padding: 10px;
}
.input{
    margin: 15px;
}
#btn{
    background-color: blue;
    padding: 10px;
    color: white;
    cursor:pointer
}